# Copied from pyproject.toml

furiosa-registry~=0.6.3
onnx
onnxruntime
opencv-python
pycocotools
timm
torch
torchvision
dvc[s3]
pydantic
# Protobuf major version change issue: https://github.com/furiosa-ai/furiosa-artifacts/issues/23
protobuf<4.0dev

segmentation_models_pytorch
pretrainedmodels
effdet

cbox_decode @ git+https://github.com/furiosa-ai/furiosa-artifacts.git#subdirectory=furiosa/artifacts/vision/models/yolov5/box_decode/cbox_decode
